@model IEnumerable<MenuItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count()>0)
{
    <div class="col-md-12 post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant" >
        <div class="row">
            <h3 class="text-success" style="padding-left: 10px; line-break: anywhere">@Model.FirstOrDefault().Category.Name</h3>
        </div>
        
        @foreach (var item in Model)
        {
    <div class="border border-info rounded col-md-12" style="margin-bottom: 10px; margin-top: 10px; padding:10px">
        <div class="row">
        <div class="col-md-2 col-sm-12">
            <img class="img-thumbnail" src="@item.Image">
        </div>

        <div class="col-md-10 col-sm-12"> 
            <div class="row pr-3">
                <div class="col-md-8">
                    <label class="text-primary" style="font-size: 21px; color: red">@item.Name</label>
                    @if (item.Spicyness == "1")
                    {
                        <img srcset="/images/mild.png" title="Mild" />
                    }
                    
                    @if (item.Spicyness == "2")
                    {

                        <img srcset="/images/spicy.png" title="Spicy" />
                    } 
                    @if (item.Spicyness == "3")
                    {
                        <img srcset="/images/veryspicy.png" title="Very Spicy" />

                    }
                </div>
                <div class="col-md-4 text-right" style="color:salmon">
                    <h4 class="font-weight-bold">$@item.Price</h4>
                </div>
            </div>
            
            
            <div class="row col-md-12 text-justify d-none d-md-block">
                <p>@item.Description </p>
            </div>
            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@item.Id">Details </a>
            </div>
        </div>
        </div>
        </div>
        }
        
        <div class="p-4"></div>
    </div>
}